body{
	background:#663434 !important;
}
#login{
	width: 520px !important; 
}
#loginform{
	border-radius: 20px;
}
.login label{
	color: #161617 !important;
    font-size: 19px;
}

.login #nav{
display: none;
}